* {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  margin: 0 auto;
}

.start-button {
  display: flex;
  justify-content: center;
}

.baby-button {
  display: flex;
  justify-content: center;
}

.main {
  display: inline;
}

.tomadiv {
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  align-content: center;
}


.image-div {
 
}

.stats-div {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.action-div {
  display: flex;
  justify-content: center;
}

.image {
  margin: 0 auto; 
  display: block;
}

.squares div {
  width:  80vh;
  height: 70vh;
  margin-right: 1%;
  display: inline-block;
  background-color:white;
  background-image: url("../images/sushi-making-out.jpeg");
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 1;
}

.square-image {
  background-image: url("../images/08-sushi-making-out-2.jpeg");
  background-repeat: no-repeat;
  background-position: center; 
}